---
layout: blog
title: index
permalink: /

case_studies_max: 2
career_max: 4

sitemap:
  priority: 1

---
<div>

  {% if site.index_carousel %}
    <div class="container-fluid">
      {% include carousel.html %}
    </div>
  {% endif %}

  <nav class="navbar navbar-light sticky-top navbar-expand-md" aria-label="navbar">
    <div class="container">
      <a class="navbar-brand" href="#"><span data-i18n="website.navtitle">{{ site.navtitle }}</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
        {% for section in site.data.landing %}
          {% assign sectionLink = section.id | prepend: '#' %}
          {% if section.links %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink{{ section.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-i18n="{{ section.i18n }}">
                  {{ section.name }}
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink{{ section.id }}">
              {% assign sectionLink = section.id | prepend: '#' %}
              <a class="dropdown-item" href="{{ sectionLink }}">at a glance</a>
              {% for link in section.links %}
                <a class="dropdown-item" href="{{ link.url }}">{{ link.name }}</a>
              {% endfor %}
              </div>
            </li>
          {% else %}
            {% assign sectionLink = section.id | prepend: '#' %}
            <li class="nav-item">
              <a class="nav-link" href="{{ sectionLink }}">
                  <span data-i18n="{{ section.i18n }}">
                    {{ section.name }}
                  </span>
              </a>
            </li>
          {% endif %}
        {% endfor %}          
        </ul>
      </div>
    </div>
  </nav>

  {% for section in site.data.landing %}
    {% assign loopindex = forloop.index | modulo: 2 %}
    <div id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0;">
          {% include sections/{{section.tpl}} %}
    </div>
  {% endfor %}

  <script type="text/javascript">
    $(document).ready(function() {

        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var changeHeaderOn = 200, scrollDebounce = 250;

        function scrollPage() {
          $('.navbar').toggleClass('navbar-scroll', scrollY() >= changeHeaderOn);
        }

        function scrollY() {
          return window.pageYOffset || document.documentElement.scrollTop;
        }

        window.addEventListener('scroll', function() { setTimeout(scrollPage, scrollDebounce); }, false);
    })();

    new WOW().init();

    $('body').scrollspy({ target: '.navbar' })  
  </script>
</div>