<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h2 style="font-size: 250%;"><span data-i18n="projects.my_projects">Case Studies</span></h2>
        </div>
    </div>
    {% assign casestudies = site.casestudies | sort: "weight" %}
    {% for project in casestudies %}
        <div class="row align-middle" style="margin-top: 2em;">
        {% assign loopindex = forloop.index | plus: 0 %}
        {% if forloop.index > page.case_studies_max %}
            {% assign moreCaseStudies = true %}
            {% break %}
        {% endif %}
        {% assign loopindex = forloop.index | modulo: 2 %}
            {% if loopindex == 1 %}
            <div class="col-sm-6 wow text-center {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
                <a href="{{ project.url | relative_url }}">
                    <img src="{{ project.img | prepend: site.baseurl }}" class="img-responsive" alt="{{ project.name }}"><br/>
                </a>
            </div>

            {% endif %}

            <div class="col-sm-6 team-member">
                <div>
                    {% capture projectLink %}
                        <a href="{{ project.url | relative_url }}">
                            {{ project.name }}
                        </a>
                    {% endcapture %}

                    <h3>Type: {{ project.type }} / {{ project.domain }}</h3>
                    <h2 class="d-flex align-self-center" style="font-size: 261%; margin-top: 1em;">{{ project.headline | replace: project.name, projectLink }}</h2>
                </div>
              <h2 style="margin-top: 3em;">At a Glance</h2>
              <div style="font-size: 16px;">
              <p>
                {% for role in project.ataglance %}
                  {{ role.heading }} <strong>{{ role.detail }}</strong><br/>
                {% endfor %}
              </p>
              <br/>
              <br/>
          </div>
            </div>

            {% if loopindex == 0 %}
            <div class="col-sm-6 wow text-center {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
                <a href="{{ project.url | relative_url }}">{{ team.title }}
                    <img src="{{ project.img | prepend: site.baseurl }}" class="img-responsive" alt="{{ project.name }}"><br/>
                    {{ project.name }}
                </a>
            </div>
            {% endif %}

            <br style="clear: both; padding-bottom: 2em;"><br/>
    </div>
    {% endfor %}
    {% if moreCaseStudies %}
    <div style="font-size: 24px; text-align: center;">
        I build a lot of websites. For more examples check out <a href="{{ '/casestudy/' | relative_url }}">
            my portfolio
        </a> here.
        <br style="clear: both; padding-bottom: 2em;"><br/>
    </div>
    {% endif %}
</div>