<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1; minimum-scale=1; user-scalable=no;">
  {% if page.desc %}
    <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="baseurl" content="{{ site.baseurl }}">

  <title>
    {% if page.title != "index" %}
        {{ page.title }} : {{ site.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
  </title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ "/static/assets/img/favicon.ico" | prepend: site.baseurl }}">

  <!-- Main CSS -->
  <link rel="stylesheet" href="{{ "/static/assets/app-20210315.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/static/css/custom.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Main Scripts -->
  <script src="{{"/static/assets/app-20210315.min.js"| prepend: site.baseurl }}"></script>
  <script src="{{"/static/assets/blog-20210315.min.js"| prepend: site.baseurl }}"></script>
  <script src="https://kit.fontawesome.com/577830c260.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MQXKXP6XCW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MQXKXP6XCW');
  </script>
</head>
