---
layout: default
---

<div id="casestudy" class="intro">
  <div class="container">
    <h1 class="text-center">{{ page.h1title }}</h1>
    <h2 class="text-center">{{ page.h2title }}</h2>
    <br/>
    
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
              <h2>At a Glance</h2>
              <div style="font-size: 16px;">
              
              <p>
                {% for role in page.ataglance %}
                  {{ role.heading }} <strong>{{ role.detail }}</strong><br/>
                {% endfor %}
              </p>
              <br/>
              <br/>

            </div>
            <div class="team-member">
                <div>
                    <div style="width:62%; margin: 0 auto;">
                      <img src="{{ page.logo | prepend: site.baseurl }}" class="img-fluid" alt="">
                    </div>
                    <h4>
                    {% if page.websiteUrl %}
                    <a href="{{ page.websiteUrl }}" target="_blank"><span class="navy">{{ page.name }}</span></a> ({{ page.navtitle }})
                    {% elsif page.repo %}
                    <a href="https://github.com/{{ page.gh_user }}/{{ page.repo }}" target="_blank"><span class="navy">{{ page.name }}</span></a> ({{ page.title }})
                    {% else %}
                    <span class="navy">{{ page.name }}</span> ({{ page.title }})
                    {% endif %}
                    </h4>
                    <p>{{ page.desc }}</p>
                    {% if page.repo and false %}
                    <div user="{{ page.gh_user }}" repo="{{ page.repo }}" class="ghbtn">
                      <a target="_blank" style="width: 65px;" href="https://github.com/{{ page.gh_user }}/{{ page.repo }}/stargazers" class="btn btn-white btn-xs star"><i class="fa fa-star"></i> ...</a>&emsp;&emsp;
                      <a target="_blank" style="width: 65px;" href="https://github.com/{{ page.gh_user }}/{{ page.repo }}/network" class="btn btn-white btn-xs fork"><i class="fa fa-code-fork"></i> ...</a>
                      <div style="height: 10px;"></div>
                    </div>
                    {% endif %}
                    {% if page.social %}
                    <ul class="list-inline social-icon">
                    {% for link in page.social %}
                        <li class="list-inline-item">
                        {% case link.site %}
                          {% when "facebook" %}
                            <a href="https://www.facebook.com/{{ link.handle }}" target="blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                          {% when "instagram" %}
                            <a href="https://www.instagram.com/{{ link.handle }}" target="blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                          {% when "pinterest" %}
                            <a href="https://www.pinterest.com/{{ link.handle }}" target="blank">
                                <i class="fab fa-pinterest"></i>
                            </a>
                          {% when "tiktok" %}
                            <a href="https://www.tiktok.com/@{{ link.handle }}" target="blank">
                                <i class="fab fa-tiktok"></i>
                            </a>
                          {% when "homepage" %}
                            <a href="https://{{ link.handle }}/" target="blank">
                                <i class="fa fa-home"></i>
                            </a>
                          {% when "blog" %}
                            <a href="https://{{ link.handle }}/" target="blank">
                                <i class="fa fa-blog"></i>
                            </a>
                          {% when "email" %}
                            <a href="https://{{ link.handle }}" target="blank">
                                <i class="fa fa-envelope-open-text"></i>
                            </a>
                          {% else %}
                             {{ link.site }} needs handled
                        {% endcase %}
                        </li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <br/>
            <br/>
            <div style="font-size: 16px;">
              {{ content }}
              <br/>

            </div>
      </div>

      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.navtitle }}" class="img-fluid intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>